<div class="container">
  <img class="cover-img" style="object-position: 0 0;" src="./assets/images/header-1200x866.jpg" alt="">
  <p class="name" [style.position]="showName ? 'fixed' : 'absolute'">YULIANA DEMENTYEVA</p>
  <div class="nav">
    <p><span class="arrow">&larr;</span> POLAROID</p>
    <p><span class="arrow">&larr;</span> RUNWAY</p>
    <p><span class="arrow">&larr;</span> BOOK</p>
  </div>
  <div class="shadow"></div>
  <p class="contact">CONTACT <span class="arrow">&rarr;</span></p>
</div>
<div class="container">
  <img class="cover-img" src="./assets/images/yulianadementyeva_323594152_1221637168761125_1841072689572010128_n.jpg"
       alt="">
  <div class="parameters">
    <div style="grid-area: 1 / 1 / 2 / 2;">
      <p class="character">HAIR COLOR</p>
      <p class="value">Brown</p>
    </div>
    <div style="grid-area: 1 / 2 / 2 / 3;">
      <p class="character">EYE COLOR</p>
      <p class="value">Green</p>
    </div>
    <div style="grid-area: 2 / 1 / 3 / 2;">
      <p class="character">HEIGHT</p>
      <p class="value">177cm / 5' 9½''</p>
    </div>
    <div style="grid-area: 2 / 2 / 3 / 3;">
      <p class="character">SHOE SIZE</p>
      <p class="value">39EU / 8US / 6UK</p>
    </div>
    <div style="grid-area: 3 / 1 / 4 / 2;margin-top: 10px;">
      <p class="character">BUST</p>
      <p class="value">85cm / 33½'' B</p>
    </div>
    <div style="grid-area: 4 / 1 / 5 / 2;">
      <p class="character">WAIST</p>
      <p class="value">60cm / 23½''</p>
    </div>
    <div style="grid-area: 5 / 1 / 6 / 2;">
      <p class="character">HIPS</p>
      <p class="value">86cm / 34''</p>
    </div>
  </div>
</div>
<div class="container" id="book">
  <div *ngFor="let item of items; index as i;">
    <img [src]="item.src" [alt]="item.name" [style.width]="i%2 ? 220 : (i%3 ? 180 : 200)">
  </div>
</div>
<div class="container" id="runway">

</div>
<div class="container" id="polaroid">

</div>

<!--<img src="./assets/images/canessa.png" alt="">-->
<!--<img src="./assets/images/clazzy.png" alt="">-->
<!--<img src="./assets/images/cendre.png" alt="">-->
<!--<img src="./assets/images/spazio.png" alt="">-->
<!--<img src="./assets/images/nerolli.png" alt="">-->
<!--<img src="./assets/images/buro.png" alt="">-->
<!--<img src="./assets/images/bicholla.png" alt="">-->
<!--<img src="./assets/images/moonaya.png" alt="">-->
<!--<img src="./assets/images/byzoom.png" alt="">-->
<!--<img src="./assets/images/bodygoals.png" alt="">-->
<!--<img src="./assets/images/garcia.png" alt="">-->
<!--<img src="./assets/images/pitaya.png" alt="">-->
<!--<img src="./assets/images/1.png" alt="">-->
<!--<img src="./assets/images/vogue.png" alt="">-->
<!--<img src="./assets/images/kulikov.png" alt="">-->
<!--<img src="./assets/images/wedding.png" alt="">-->
<!--<img src="./assets/images/2.png" alt="">-->
