/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

h1 {
  font-family: 'Cinzel Decorative', sans-serif;
}

p, a {
  font-family: Inter, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*noinspection ALL*/
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow: overlay;
  -webkit-overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 9999px;
  border: 3px solid #fff;
}

img {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  position: relative;
  /*width: 100%;*/
  /*height: 100%;*/
  overflow: hidden;
  background-color: rgb(104 104 104 / 10%) !important;
  user-select: none;
  cursor: default;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  /*animation: shimmer 2s infinite;*/
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
