.block1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;

  p {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  img {
    height: 100%;
    width: calc(50% - 10px);
    object-fit: cover;
    object-position: 50% 0;
  }
}

.title-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.block2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  justify-content: center;

  video, img {
    flex: calc((100vw - 50px) / 3);
    max-width: calc((100vw - 50px) / 3);
    height: auto;
    object-fit: cover;
    object-position: 50% 0;
    max-height: 550px;
  }
}

.back {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 20px;
  display: flex;
  padding: 2px 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0 0 0 / 50%);
  border-radius: 56px;
  background-color: #fff;
  box-shadow: -5px 10px 10px -5px rgb(0 0 0 / 5%);
  width: max-content;
  cursor: pointer;
  height: 20px;
  transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.byzoom {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;
}


@media (max-width: 480px) {
  .block1 {
    flex-direction: column;

    img {
      width: 100% !important;
    }
  }
  .title-block {
    width: 100% !important;
  }

  .block2 {
    video, img {
      flex: 100vw !important;
      max-width: 100vw !important;
    }
  }

  .byzoom {
    height: 50vh;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .block2 {
    video, img {
      flex: calc((100vw - 20px) / 2) !important;
      max-width: calc((100vw - 20px) / 2) !important;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .block2 {
    video, img {
      flex: calc((100vw - 40px) / 3) !important;
      max-width: calc((100vw - 40px) / 3) !important;
    }
  }
}

@media (min-width: 1440px) {
  .block2 {
    video, img {
      flex: calc((100vw - 40px) / 3) !important;
      max-width: calc((100vw - 40px) / 3) !important;
      max-height: 800px !important;
    }
  }
}
